@import 'fc_mixins';
@import 'colors';

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
html {
    scroll-behavior: smooth;
  }
  .home{
      background: #f4f8f8;
  }
a,
a:hover {
    text-decoration: none;
} 
input:focus, a:focus{
    @include outline(none);
    @include box-shadow(none);
}
img{
    max-width: 100%;
    height: auto;
}
body {
    line-height: 1.7;
    font-family: 'Circular',sans-serif !important;
    margin: 0;
    padding: 0;
    background: #fefefe;
    background: #f6f6f6;
    line-height: 1.4;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}
a, p, h1,h2,h3,h4,h5,h6{
    font-family: 'Circular',sans-serif !important;
    
}
/* responsive container */
.section_container, .footer_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 576px){
    .section_container ,.footer_container{
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .section_container {
        max-width: 720px;
    }
    .footer_container{
        max-width: 740px;
    }
}
@media (min-width: 868px){
    .footer_container{
        max-width: 840px;
    }
}
.logo{
    display: inline-block;
    align-self: center;
}
.header_sticky{
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
@media (min-width: 992px){
    .header_sticky{
        position:-webkit-sticky;
        position:sticky;
        top:0;
    }
    .header{
        position: relative;
        .nav_ul{
            position: relative;
          }
    }
      .header .nav_ul ul li{
          border-bottom: none;
          &.active{
              position: relative;
                a{
                  &:hover{
                      color: #444444;
                  }
                }
              &:after{
                  position: absolute;
                  content:"";
                  left:10px;
                  width:30%;
                  bottom:26px;
                  @include border-radius(0 0 0 10px);
                  @include border-bottom(2px solid hsl(134, 50%, 66%));
              }
              &:before{
                position: absolute;
                content:"";
                right:10px;
                width:30%;
                top:30px;
                @include border-radius(0 10px 0 0); 
                @include border-bottom(2px solid hsl(134, 50%, 66%));
            }
          }
          a{
              padding-top: 25px;
              padding-bottom: 25px;
          }
      }
      .header > .nav_ul > ul > li.sign_in{
        padding-right:10px ;
      }
      .header > .nav_ul > ul > li.register{

        padding-left: 10px;
      }
    /*  hover style of transition line
    .header > .nav_ul > ul > .line{
      opacity: 0;
      transition: all .5s;
      position: absolute;
      bottom: 0;
      left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
      width: var(--width, calc(100% / var(--items)));
      --index: 0;
      --items: 6;
      background: #68a;
      height: 1px;
      pointer-events: none;
  }
  .header > .nav_ul > ul > li:hover ~ .line {
      opacity: 1;
  }
  .header > .nav_ul > ul > li:nth-of-type(1):hover ~ .line { --index: 1; }
  .header > .nav_ul > ul > li:nth-of-type(2):hover ~ .line { --index: 2; }
  .header > .nav_ul > ul > li:nth-of-type(3):hover ~ .line { --index: 3; }
  .header > .nav_ul > ul > li:nth-of-type(4):hover ~ .line { --index: 4; }
  .header > .nav_ul > ul > li.sign_in{
      padding-right:10px ;
      &:hover ~ .line { 
          --index: 0;
          opacity: 0;
       }
  }
  .header > .nav_ul > ul > li.register{

      padding-left: 10px;
      &:hover ~ .line { 
        --index: 0;
        opacity: 0;
     }
  }
  .header > .nav_ul > ul > li:nth-of-type(7):hover ~ .line { --index: 7; }
  .header > .nav_ul > ul > li:nth-of-type(8):hover ~ .line { --index: 8; }
  .header > .nav_ul > ul > li:nth-of-type(9):hover ~ .line { --index: 9; }
  .header > .nav_ul > ul > li:nth-of-type(10):hover ~ .line { --index: 10; }
  .header > .nav_ul > ul > li:last-of-type:hover ~ .line { --index: var(--items); }*/
    .section_container, .footer_container {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .section_container, .footer_container {
        max-width: 1140px;
    }
}
@media (min-width: 1360px){
    .footer_container {
        max-width: 1265px;
    }
}
@media (min-width: 1600px){
    .section_container  {
        max-width: 1250px;
    }
    .footer_container  {
        max-width: 1400px;
    }
}
/* main grid */
.grid{
    display: -moz-grid;
    display: grid;
}
/* main flex */
.flex{
    display: -webkit-flex;
    display: flex;
}
.wrap{
    -webkit-flex-wrap:wrap;
    flex-wrap: wrap;
}
/*navbar*/ 
/* header nav */
.header_sticky{
    .header_details{
       @extend .flex;
       justify-content: space-between;
       padding:14px 50px; 
       background: #EEEEEE;
       @extend .wrap;

       p{
           font-size: 12.5px;
           line-height: 16px;
           color:$fc_main;
           margin: 0;
           min-width: 235px;
           &:last-of-type{
               text-align: right;
           }
           a{
            color:$link;
           }
       }
    }
}
.header{
    display: flex;
    justify-content: space-between;
    // padding: 0px 100px;
    padding-right: 100px;
    padding-left: 100px;
    background: white;
    .logo{
        img{
            vertical-align: middle;
            height: 35px;
        }
    }
    #navbar_toggle{
        display: none;
    }
    .nav_check{
        display:none;
    }
    span{
        line-height: 2;
        display: block;
        color:blue;
        font-weight: 500;
        a{
            color: red;
            @include transition(all 0.35s);
            font-weight: 600;
            &:hover{
                color: hsl(0, 0%, 44%);
                @include transition(all 0.35s);
            }
        }
    }
    .nav_ul ul{
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        margin: auto 0;
        li{
            display: inline-block;
            padding:25px 20px;
            padding:30px 20px; 
            &.sign_in{
                a{
                    background: hsl(0, 0%, 53%) ;
                    @include border-radius(4px);
                    color:#fff;
                    padding:8px 15px;
                    &:hover{
                        background: hsl(0, 0%, 27%);
                        @include border-radius(4px);
                        color:#fff;
                    }
                }
            }
            &.register{
                a{
                    background: hsl(0, 0%, 27%);
                    background: hsl(134, 34%, 50%);
                    @include border-radius(4px);
                    color:#fff;
                    padding:8px 15px;
                    &:hover{
                        background: hsl(0, 0%, 47%);
                        background: hsl(134, 34%, 40%);
                        @include border-radius(4px);
                        color:#fff;
                    }
                }
            }
            a{
                color: #444444;
                font-size: 15px;
                @include transition(all 0.35s);
               
                img{
                    max-width: 120px;
                }
                &:hover{
                    @include transition(all 0.35s);
                    text-decoration: none;
                    color: #666666;
                    color:hsl(0, 0%, 60%);
                }
            }
        }
    }
    .header_shadow {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 30px;
        overflow: hidden;
        z-index: 1;
    }
}
@media only screen and (max-width:991px){
    .header{
        display: block;
        position: relative;
        min-height: 75px;
        padding: 20px 30px;
        .nav_ul ul{
            min-height: 300px;
            padding-top: 10px;
            li {
                padding: 0 9px;
                &.active{
                    a{
                        color: hsl(134, 50%, 46%); 
                    }
                }
            }  
        }      
        .nav_check{
            display: inline-block;
            position: absolute;
            margin-bottom: 0;
            margin-top: -10.5px;
            top:50%;
            right:30px;
            span{
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                background: #cdcdcd;
                background: hsl(0, 0%, 45%);
                border-radius: 3px;
                z-index: 1;
                transform-origin: 4px 0px;
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
            }
            span:first-child{
                transform-origin: 0% 0%;
            }
            span:nth-last-child(2){
                transform-origin: 0% 100%;
            }
        }
        /* 
        * Transform all the slices of hamburger
        * into a crossmark.
        */
        input:checked ~ .nav_check span{
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-9px, -15px);
            background: #232323;
        }
        input:checked ~ .nav_check span:nth-last-child(3){
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
        input:checked ~ .nav_check span:nth-last-child(2){
            transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(-4px, 11px);
        }
        input:checked ~ .nav_check{
            top: 26px;
            margin: 0;
        }
        .nav_ul{
                margin: -300px 0 0 -50px;
                -webkit-font-smoothing: antialiased;
                /* to stop flickering of text in safari */
                transform-origin: 0% 0%;
                transform: translate(-100%, 0);
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
              
        }
        input:checked ~ .nav_ul{
            transform: none;
            position: relative;
            width: 100%;
            margin:0;
            padding: 0;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
            padding-top: 30px;
            overflow-y: scroll;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none;
            }

            background: hsl(173, 53%, 78%);
            background: hsl(134, 100%, 96%);
            min-height: 100vh;
            height: 100%;
            text-align: center;
            position: absolute;
            left:0;
            top:75px;
            padding: 20px;
            // padding-top: calc((100vh - 210px)/2 );
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 100px;
            li{
                padding:10px 0;
                display: block;
                &.sign_in,&.register{
                    display: inline-block;
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }
    }
}
@media only screen and (max-width:569px){
    .header_sticky{
        .header_details{
           padding:12px 40px; 
    
           p{
               line-height: 20px;
               margin: 0 auto;
               &:last-of-type{
                   text-align: center;
               }
               text-align: center;
           }
        }
    }
}
// hero section 
.hero{
    position: relative;
    width: 100%;
    min-height: 415px;
    @extend .grid;
    align-content: center;
    &:after{
        z-index: -1;
        background: url("../img/bg/hero_bg.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        width:100%;
        height: 100%;
        content:"";
        left:0;
        top:0;
    }
    &:before{
        z-index: -2;
        width:100%;
        height: 100%;
        position: absolute;
        content:"";
        left:0;
        top:0;
        background: hsl(60, 100%, 98%);
        // background: #CCCCCC;
    } 
    .flex{
        .hero_content{
            max-width: 590px;
            @extend .flex;
            flex:1;
            flex-direction: column;
            padding: 40px 0;
            h2{
                font-style: normal;
                font-weight: bold;
                font-size: 52px;
                line-height: 66px;
                margin-bottom: 36px;  
            }
            .hero_link{
                a{
                    display: block;
                    background: $white;
                    @include border-radius(5px);
                    display: -webkit-inline-flex;
                    display: inline-flex;
                    align-items: center;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    @include transition (all 0.3s);
                    padding: 10px 15px 10px 13px;
                    color:$fc_main; 
                    svg{
                        margin-right: 13px;
                        @include transition (all 0.3s);
                    }
                    &:hover{
                        @include transition(all 0.3s);
                        background: hsl(60, 100%, 97%);
                        background: hsl(134, 50%, 95%);
                        color:hsl(134, 50%, 46%);
                        // color:hsl(134, 50%, 66%);
                        svg{
                            path{
                                fill:hsl(134, 50%, 36%);
                                @include transition (all 0.3s);
                            }
                        }
                    }
                    &:focus{
                        @include border(none);
                        @include outline(none);
                        @include box-shadow(none);
                    }
                }
            }
        } 
    }
   
}
.main_bg{
    background: url("../img/bg/main_bg.svg") no-repeat;
    background-size: cover;
    background-position: unset;
    width:100%;
    height: 100%;
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    .future_creation{
        @extend .flex;
        margin-top: 100px;
        margin-bottom: 100px;
        @extend .wrap;
        // grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
        justify-content: space-between;
        // row-gap: 20px;
        .text_details{
            min-width: 500px;
            max-width: 587px;
            h4{
                color:$title;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 40px;
                margin-bottom: 25px; 
                // max-width: 531px;
            }
            p{
                font-style: normal;
                max-width: 531px;
                font-weight: normal;
                font-size: 20px;
                line-height: 140%;
                color:$title; 
            }
        }
        .img_container{
            max-width: 500px;
            // min-width: 480px;
            img{
                @include border-radius(0 4px 4px 0);
            }
        }
    }
}
.empowering_value_chain{
    margin-bottom: 100px;
    h4{
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px; 
        color:$title; 
    }
    .fc_products{
        @extend .grid;
        margin-top: 48px;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        column-gap: 30px;
        row-gap: 30px;
        .product_{
            .img_container{
                // max-width: 167px;
                min-width: 120px;
                margin-right: 10px;
                img{
                    max-width: 110px;
                }
            }
            @include border(1px solid #EAEAEA);
            @include border-radius(10px);
            padding: 20px 30px;
            background: $white;
            @extend .flex;
            @extend .wrap;
            position: relative;
            @include transition(all 0.3s);
            top:0;
            &:before{
                content:"";
                position: absolute;
                height:0;
                top: 0;
                left:0;
                @include transition(all 0.3s);
                @include border-left(4px solid $fc_color);
                @include border-radius(10px 0 0 10px);
            }
            .text_detail{
                min-width: 200px;
                max-width: 310px;
                p{
                    margin-bottom: 0;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 140%;
                    // color: rgba(0, 0, 0, 0.8); 
                    color:hsl(0, 0%, 30%);
                }
                h5{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 100%;                    
                    letter-spacing: -0.03em;  
                    // color: #000000;
                    color:hsl(0, 0%, 20%);
                }
            }
            &:hover{
                top:5px;
                @include transition(all 0.3s);
                // background: hsl(60, 100%, 99%);
                &:before{
                    height:100%;
                    @include transition(all 0.3s);
                }
                background:hsl(134, 60%, 98.5%);
                h5{
                    color:hsl(134, 20%, 29%);
                }
                p{
                    color:hsl(134, 12%, 29%);
                }
                .img_container{
                    @include filter(grayscale(0.5));
                }
            }
        }
    }
}
.fc_stat_bg{
    background: #FFFFEE;
   .fc_stat{
        padding-top: 100px;
        padding-bottom: 100px;
        @extend .grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        align-items: center;
        .stat_text{
            h4{
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 40px;
                color:$fc_main; 
            }
            .stat_grid{
                @extend .grid;
                grid-template-columns: repeat(auto-fit, minmax(190px, 200px));
                column-gap: 30px;
                row-gap: 20px;
                margin-top: 50px;
                .stat_item{
                    h5{
                        font-style: normal;
                        font-weight: bold;
                        font-size: 36px;
                        line-height: 46px;
                        color: $fc_color;  
                        margin-bottom: 0;
                    }
                    p{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 150%; 
                    }
                }
            }
        }
        .map_stat{
            // max-width: 500px;
            position: relative;
            svg{
                max-width: 100%!important;
                height: auto;
                display: block;
                .heyo{
                    &:hover{
                      fill:hsl(65, 59%, 31%);
                      @include transition (0.3s);
                    }
                }
                .enabled{
                    fill: #acbb16;
                    cursor: pointer;
                  }
              }
              
        }
    } 
}
.description{
    pointer-events: none;
    position: absolute;
    font-size: 14px;
    /* text-align: center; */
    background: white;
    padding: 10px 15px;
    z-index: 5;
    height: auto;
    line-height: 20px;
    margin: 0 auto;
    color: #21669E;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #eee;
    transform:translateX(-50%);
    display: none;
    p{
        margin: 0;
    }
    &.active{
        display: block
    }
    &:after{
        content: '';
        position: absolute;
        left: 50%;
        top: 100%;
        width: 0;
        height: 0;
        margin-left: -10px;
        @include border-left( 10px solid transparent);
        @include border-right (10px solid transparent);
        @include border-top (10px solid $white);
    }
}
.more_bg{
    background-color: hsl(0, 0%, 60%);
    background: url("../img/bg/more_bg.jpg") no-repeat;
    background-size: cover;
    background-position: unset;
    width:100%;
    height: 100%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    h2{
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        display: flex;
        max-width: 455px;
        color: $white;
        margin: 0 auto; 
        margin-bottom: 17px;
    }
    a.more_{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: $fc_main;  
        @include transition (all 0.25s);
        display: block;
        background: hsl(64, 49%, 49%);
        @include border-radius(5px);
        max-width: 200px;
        margin: auto;
        padding: 14px;
        &:hover{
            @include transition (all 0.25s);
            background:hsl(65, 59%, 31%);
            background:hsl(64, 49%, 59%);
        }
    }

}
// testimonial 
.owl-theme .owl-dots .owl-dot{
    &:focus{
        @include outline(none);
        @include box-shadow(none);
    }
    &.active span{
        background: $fc_color;
    }
    &:hover span{
        background: hsl(65, 39%, 61%);  
    }
}
.testimonial{
    padding-top: 100px;
    padding-bottom: 100px;
    .testimonial_carousel_container{   
        .owl-dots{
            position:relative;
            position: absolute;;
            bottom:30px;
            left:  55px;
            z-index: 2;

        }
        .carousel_item{
            position: relative;
            @extend .grid;
            align-content: center;
            height: 374px;
          
        }
        .content{
            position: relative;
            max-width: 465px;
            background: white;
            z-index: 1;
            @include border(1px solid #EAEAEA);
            @include border-radius(10px);
            padding: 25px;
            .mobile_img{
                position: absolute;
                top:-15px;
                right:-15px;
                width:80px;
                height:80px;
                object-fit: cover;
                display: none;
                @include border(2px solid $white);
                @include box-shadow(1px 1px 6px rgba(0, 0, 0, 0.2));
                @include border-radius(50%);

            }
            .testimony_{
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                color: $title;
                margin-top: 10px; 
            }
            .t_footer{
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                color:$title;
                margin-bottom: 0.5rem; 
            }
        }
        img{
            position: absolute;
            background: #efefef;
            background: hsla(65, 59%, 31%,0.8);
            background: hsla(65, 59%, 11%,1);
            top:0;
            right: 0;
            height: 100%;
            height: 374px;
            object-fit: contain;
            max-width: 700px;
            width: 100%;
            z-index: -1; 
        }
    }
}
// footer
footer{
    background: $fc_dark;
    padding-top: 50px;
    padding-bottom: 50px;
    top: -1px;
    position: relative;
    p{
        color:$white;
        font-weight: normal;
        font-size: .9rem;   
        line-height: 1.5;
        &.sub_title{
            margin-top: 20px;
            margin-bottom: 20px;
        }  
        a{
            @include transition (all 0.25s);
            color:$white;
            &:hover{
                color:$fc_color;
                @include transition (all 0.25s);
            }
        }
    }

    .footer_grid{
        // @extend .grid;
        // grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        // column-gap: 30px;
        // row-gap: 20px;
        @extend .flex;
        @extend .wrap;
        justify-content: space-between;
        .grid_item{
            margin-bottom: 40px;
            margin-right: 30px;
            .sec_title{
                h5{
                    color: $white;
                    font-weight: 700;
                    font-size: 1.25rem; 
                }
            }
            .apps{
                @extend .grid;
                a{
                    display:inline-block;
                    margin-right: 5px;
                    margin-top: 5px;
                }
            }
            .socials_icons{
                a{
                    display:inline-block;
                    margin:10px 4px;
                    margin-left: 0;
                    &:hover{
                        svg{
                            path{
                                @include transition(all 0.25s);
                            }
                        }
                        &:nth-of-type(1){
                            svg{
                                path{
                                    @include transition(all 0.25s);
                                    fill:$facebook;
                                }
                            }
                        }
                        &:nth-of-type(2){
                            svg{
                                path{
                                    @include transition(all 0.25s);
                                    fill:$youtube;
                                }
                            }
                        }
                        &:nth-of-type(3){
                            svg{
                                path{
                                    @include transition(all 0.25s);
                                    fill:$instagram;
                                }
                            }
                        }
                        &:nth-of-type(4){
                            svg{
                                path{
                                    @include transition(all 0.25s);
                                    fill:$linkedin;
                                }
                            }
                        }
                        &:nth-of-type(5){
                            svg{
                                path{
                                    @include transition(all 0.25s);
                                    fill:$twitter;
                                }
                            }
                        }
                    }
                }
            }
            .con_tact{
                 a{
                    color:$white;
                    display: block;
                    margin-bottom: 5px;
                    @include transition(all 0.25s);
                    &:hover{
                        @include transition(all 0.25s);
                        color:$fc_color;
                    }
                    &.email_{
                        color:$fc_color;
                        &:hover{
                            color:$white;
                        }
                    }
                }
            }
           
            ul{
                padding-left: 0;
                margin-top: 20px;
                margin-bottom: 20px;
                list-style-type: none;
                li{
                    a{
                        @include transition (all 0.25s);
                        font-size: .9rem;
                        color:$white;
                        &:hover{
                            color:$fc_color;
                            @include transition (all 0.25s);
                        }

                    }
                }
            }
            .subscription_email{
                @extend .flex;
                @extend .wrap;
                input[type="email"]{
                    margin-top: 10px;
                    height: calc(1.5em + .75rem + 2px);
                    padding: .375rem .75rem;
                    max-width: 195px;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    @include border-radius(5px); 
                    margin-right: 1rem;
                    @include border(1px solid $white);
                    @include transition (all 0.25s);
                    &:focus{
                        @include border(1px solid $fc_color);
                        @include transition (all 0.25s);
                        @include outline(none);
                        @include box-shadow(none);
                    }
                }
                button{
                    margin-top: 10px;
                    background: $fc_color;
                    color:hsl(65, 79%, 98%);
                    @include border-radius(5px); 
                    @include transition (all 0.25s);
                    @include border(1px solid $fc_color);
                    padding: .375rem .75rem;
                    &:hover{
                        @include transition (all 0.25s);
                        background:hsl(65, 49%, 31%);
                        color:hsl(65, 79%, 95%);
                    }
                    &:focus{
                        @include border(1px solid $white);
                        @include transition (all 0.25s);
                        @include outline(none);
                        @include box-shadow(none);
                    }
                }
              
            }
        }
    }
}
/*media query starts*/
@media only screen and (max-width:1200px){
    .testimonial .testimonial_carousel_container{
        .owl-stage {
            display: flex;
        }
        .carousel_item{
            justify-content: center;
            height: auto;
            margin-top: 15px;
            margin-bottom: 15px;
            height: 100%;
            display: -webkit-flex;
            display: flex;
            -ms-flex: 1;
            flex: 1;
            flex-direction: column;
            justify-content: space-between;
            width: auto;
            img.user{
                display:none;
            }
            .content{
                margin: auto;
                height: 100%;
                .mobile_img{
                    display: inline-block;
                }
            }
        }
        .owl-dots{
            position: relative;
            bottom: auto; 
            left: auto;
        }
    }

    .main_bg .future_creation{
        .text_details {
            min-width: 250px;
        }
        .img_container {
            max-width: 327px;
        }
    }
    .empowering_value_chain .fc_products {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        column-gap: 20px;
        row-gap: 20px;
        .product_{
            padding-top: 12px;
            .img_container{
                margin-top: 10px;
            }
            .text_detail{
                margin-top:10px ;
            }
        }
       
    }
}
@media only screen and (max-width:991px){
    .hero .flex .hero_content h2{
        font-size: 42px;
        line-height: 52px;
    }
    .main_bg .future_creation{
        .text_details {
            min-width: 250px;
            max-width: 676px;
            p{
                max-width: 100%;
            }
        }
        .img_container {
            max-width: 450px;
        }
    }
    .empowering_value_chain .fc_products {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}
@media only screen and (max-width:767px){
    .fc_stat_bg .fc_stat .stat_text .stat_grid .stat_item h5{
        font-size: 26px;
        line-height: 34px;
    }
    .empowering_value_chain h4, .more_bg h2, .main_bg .future_creation .text_details h4, .fc_stat_bg .fc_stat .stat_text h4{
        line-height: 34px;
        font-size: 26px;
    }
}
@media only screen and (max-width:676px){
    .main_bg .future_creation .text_details p {
        font-size: 18px;
    }
   .map_stat{
       svg{
           width:100%;
           height: auto;
       }
   }
   .fc_stat_bg .fc_stat{
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
   }
}
@media only screen and (max-width:575px){
    .hero .flex .hero_content h2{
        max-width: 430px;
    }
}
@media only screen and (max-width:500px){
    .hero .flex .hero_content h2{
        font-size: 38px;
        line-height: 50px;
    }
    .testimonial .testimonial_carousel_container .content{
        .testimony_ {
            font-size: 16px;
            line-height: 23px;
        }
        .t_footer {
            font-size: 13px;
            line-height: 18px;
        }
    }
}