<header class=" header auth_header">
    <a href="index.html" class="logo">
        <img src="img/logo/Crowdyvest_logo.svg" alt="Crowdyvest's logo">
    </a>
    
  
    <div class="header_shadow"></div>
</header>