 <footer class="auth_footer">
        <div class="section_container">
            <a href="#">Help?</a>
            <div class="auth_socials">
                <span>Download our mobile apps</span>
                <a href="#" target="_blank" rel="noopener noreferrer">iPhone</a>
                <a href="#" target="_blank" rel="noopener noreferrer">Android</a>
                <a href="#" target="_blank" class="socials" rel="noopener noreferrer">
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.2498 1.58325H11.8748C10.825 1.58325 9.8182 2.00029 9.07587 2.74262C8.33354 3.48495 7.9165 4.49177 7.9165 5.54159V7.91659H5.5415V11.0833H7.9165V17.4166H11.0832V11.0833H13.4582L14.2498 7.91659H11.0832V5.54159C11.0832 5.33162 11.1666 5.13026 11.315 4.98179C11.4635 4.83333 11.6649 4.74992 11.8748 4.74992H14.2498V1.58325Z" stroke="#293737" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                    
                </a>
                <a href="#" target="_blank" class="socials" rel="noopener noreferrer">
                    <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.125 2.3749C19.2871 2.90966 18.3593 3.31866 17.3775 3.58615C16.8505 3.03793 16.1502 2.64937 15.3712 2.47301C14.5921 2.29666 13.7721 2.34102 13.0218 2.6001C12.2716 2.85918 11.6274 3.32047 11.1764 3.9216C10.7253 4.52272 10.4892 5.23467 10.5 5.96115V6.75282C8.9623 6.78889 7.43861 6.48034 6.06463 5.85463C4.69065 5.22892 3.50903 4.30549 2.625 3.16657C2.625 3.16657 -0.875 10.2916 7 13.4582C5.19796 14.565 3.05126 15.1199 0.875 15.0416C8.75 18.9999 18.375 15.0416 18.375 5.9374C18.3742 5.71689 18.3508 5.49692 18.305 5.28032C19.198 4.4835 19.8282 3.47747 20.125 2.3749V2.3749Z" stroke="#293737" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <a href="#" target="_blank" class="socials" rel="noopener noreferrer">
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.6665 6.33325C13.9263 6.33325 15.1345 6.8337 16.0253 7.72449C16.9161 8.61529 17.4165 9.82347 17.4165 11.0833V16.6249H14.2498V11.0833C14.2498 10.6633 14.083 10.2606 13.7861 9.96367C13.4892 9.66673 13.0864 9.49992 12.6665 9.49992C12.2466 9.49992 11.8439 9.66673 11.5469 9.96367C11.25 10.2606 11.0832 10.6633 11.0832 11.0833V16.6249H7.9165V11.0833C7.9165 9.82347 8.41695 8.61529 9.30775 7.72449C10.1985 6.8337 11.4067 6.33325 12.6665 6.33325V6.33325Z" stroke="#293737" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4.75016 7.125H1.5835V16.625H4.75016V7.125Z" stroke="#293737" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.16683 4.74992C4.04128 4.74992 4.75016 4.04104 4.75016 3.16659C4.75016 2.29213 4.04128 1.58325 3.16683 1.58325C2.29238 1.58325 1.5835 2.29213 1.5835 3.16659C1.5835 4.04104 2.29238 4.74992 3.16683 4.74992Z" stroke="#293737" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                    
                </a>
                <a href="#" target="_blank" class="socials" rel="noopener noreferrer">
                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.1665 1.58325H5.83317C3.53198 1.58325 1.6665 3.35546 1.6665 5.54159V13.4583C1.6665 15.6444 3.53198 17.4166 5.83317 17.4166H14.1665C16.4677 17.4166 18.3332 15.6444 18.3332 13.4583V5.54159C18.3332 3.35546 16.4677 1.58325 14.1665 1.58325Z" stroke="#293737" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.3333 9.00124C13.4361 9.66011 13.3176 10.333 12.9947 10.9242C12.6718 11.5154 12.1609 11.9949 11.5346 12.2943C10.9083 12.5938 10.1986 12.698 9.50641 12.5922C8.81419 12.4864 8.17472 12.1759 7.67895 11.7049C7.18318 11.2339 6.85636 10.6264 6.74497 9.96883C6.63359 9.31122 6.74331 8.63699 7.05852 8.04204C7.37374 7.44709 7.87841 6.96171 8.50074 6.65494C9.12307 6.34817 9.83138 6.23563 10.5249 6.33333C11.2324 6.43299 11.8873 6.74615 12.393 7.22657C12.8987 7.70699 13.2283 8.32918 13.3333 9.00124Z" stroke="#293737" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.5835 5.14575H14.5936" stroke="#293737" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <a href="#" target="_blank" class="socials" rel="noopener noreferrer">
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.844 5.08258C17.7499 4.70686 17.5584 4.36262 17.2887 4.08461C17.0191 3.80661 16.6808 3.60469 16.3081 3.49925C14.9465 3.16675 9.4998 3.16675 9.4998 3.16675C9.4998 3.16675 4.05313 3.16675 2.69147 3.53091C2.31879 3.63635 1.98053 3.83827 1.71087 4.11628C1.4412 4.39428 1.24968 4.73853 1.15563 5.11425C0.90643 6.49615 0.78453 7.89799 0.791468 9.30216C0.782585 10.7169 0.904493 12.1294 1.15563 13.5217C1.25931 13.8858 1.45513 14.2169 1.72417 14.4832C1.9932 14.7495 2.32637 14.9418 2.69147 15.0417C4.05313 15.4059 9.4998 15.4059 9.4998 15.4059C9.4998 15.4059 14.9465 15.4059 16.3081 15.0417C16.6808 14.9363 17.0191 14.7344 17.2887 14.4564C17.5584 14.1784 17.7499 13.8341 17.844 13.4584C18.0913 12.0869 18.2131 10.6958 18.2081 9.30216C18.217 7.88742 18.0951 6.47488 17.844 5.08258V5.08258Z" stroke="#293737" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.71875 11.8909L12.2708 9.30213L7.71875 6.71338V11.8909Z" stroke="#293737" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                    
                </a>
            </div>
        </div>
    </footer>