<header class=" header">
    <a href="index.html" class="logo">
        <img src="img/logo/Crowdyvest_logo.svg" alt="Crowdyvest's logo">
    </a>
    <input type="checkbox" id="navbar_toggle">
    <label class="nav_check" for="navbar_toggle">
        <span></span>
        <span></span>
        <span></span>
    </label>
 <div class="nav_ul">
    <ul>
        <li class="active"><a href="sponsorship_home.html">sponsorshop</a></li>

        <li>
            <a href="savings_home.html">savings</a>
        </li>
        <li>
            <a href="thrift_home.html">thrift</a>
        </li>
        <li><a href="business_loan.html">business loans</a></li>
        <li class="sign_in">
            <a href="login.html">sign in</a>
        </li>
        <li class="register">
            <a href="sign_up.html">register</a>
        </li>
        <span class="line"></span>
    </ul>
 </div>
    <div class="header_shadow"></div>
</header>